<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
<h1>Assignees:</h1>
<a href="/todo">Home</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Assignee</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="assignee : ${assignees}" >
            <td th:text="${assignee.name}"></td>
            <td th:text="${assignee.email}"></td>
            <td><form class="form-inline" action="#" th:action="@{'/' + ${assignee.id} + '/deleteassignee'}" method="post">
                <button type="submit" class="btn btn-danger" name="delete">Delete</button>
            </form></td>
            <td><form class="form-inline" action="#" th:action="@{'/' + ${assignee.id} + '/editassignee'}" method="get">
                <button type="submit" class="btn btn-primary" name="edit">Edit</button>
            </form></td>
        </tr>
    </tbody>
</table>

<form th:object="${new_assignee}" action="#" th:action="@{/assignee}" method="post">
    <label for="new_assignee">Add new assignee: </label><br>
    <label for="new_assignee">Name: </label>
    <input type="text" id="new_assignee" th:field="*{name}">
    <label for="email">Email: </label>
    <input type="email" id="email" th:field="*{email}">
    <input type="submit" value="Submit">
</form>

<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>

<!--

<form th:object="${assignee}" action="#" th:action="@{/assignee/edit}" method="post">
            <input type="text" th:field="${assignee.name}" >
            <input type="email" >
            <input type="submit" value="Submit">
        </form>

<li><form>
        <input type="text" id="edit_assignee" th:field="*{name}">
    </form></li>



<form class="form-inline" action="#" th:action="@{'/' + ${assignee} + '/delete'}" method="post">
        <button type="submit" class="btn btn-danger" name="delete">Delete</button>
    </form>

-->