<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bank accounts</title>
</head>
<body>
    <table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <div>
            <tr th:each="bankaccount : ${bankaccounts}" th:object="${bankaccount}">
                <td th:text="*{name}"></td>
                <td th:text="*{balance}"></td>
                <td th:text="*{animalType}"></td>
            </tr>
        </div>
    </tbody>
    </table>

</body>
</html>